html, 
body, 
*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-size: 100%; 
}

.title{
    text-align: center;
    font-size: 75px;
}
.card image{
border: 3px solid black;
height: 300px;
}

